.buttonMore {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  /* border-radius: 60px; */
  background-color: #3f51b5;
  color: #fff;
  margin-left: auto;
  margin-right: auto;

  font-size: 16px;
  cursor: pointer;
  height: 36px;
  width: 100%;
  /* padding: 5px 50px; */
}

.buttonMore:hover,
.buttonMore:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* background-color: #505eac; */
  outline: none;
}
